@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  scroll-behavior: smooth !important;
}
* {
  box-sizing: border-box;
}
html,
body {
  background-color: #f7f7f9;
  padding: 0;
  margin: 0;
}
._container {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

@layer components {
  .cta {
    @apply text-base font-medium bg-gradient-to-r from-gradcolor-orange to-gradcolor-red text-white px-3 py-2 hover:border-black rounded-2xl border border-transparent hover:shadow-md duration-300 ease-out;
  }
}
